- name: Install dependencies of python
  apt:
    name:
      - build-essential
      # - cmake
      # - git
      # - python3-colcon-common-extensions
      # - python3-flake8
      # - python3-pytest-cov
      # - python3-rosdep
      # - python3-setuptools
      # - python3-vcstool
      - python3-bt2
      # - wget
  become: true

- name: install some python modules for caret
  pip:
    requirements: "{{ requirments_path }}"
    executable: pip3
  become: true
  args:
    chdir: "{{ WORKSPACE_ROOT }}"

- name: Install ros-tracing
  apt:
    name:
      - ros-{{ rosdistro }}-ros2trace
      - ros-{{ rosdistro }}-ros2trace-analysis
      - ros-{{ rosdistro }}-tracetools
      - ros-{{ rosdistro }}-tracetools-analysis
      - ros-{{ rosdistro }}-tracetools-launch
      - ros-{{ rosdistro }}-tracetools-read
      - ros-{{ rosdistro }}-tracetools-test
      - ros-{{ rosdistro }}-tracetools-trace
  become: true
