- name: Install graphviz
  apt:
    name:
      - graphviz
      - graphviz-dev
    update_cache: true
  become: true

- name: Install caret dependent packages
  pip:
    requirements: "{{ requirements_path }}"
    executable: pip3
    extra_args: --ignore-installed "{{ '--break-system-packages' if ansible_distribution_version >= '24.04' else '' }}"
  become: false
  args:
    chdir: "{{ WORKSPACE_ROOT }}"
