#!/bin/bash

source /opt/ros/{{ rosdistro }}/setup.bash
source {{ WORKSPACE_ROOT }}/install/local_setup.bash
source {{ WORKSPACE_ROOT }}/caret_topic_filter.bash

export LD_PRELOAD=$(readlink -f {{ WORKSPACE_ROOT}}/install/caret_trace/lib/libcaret.so)

# please add user application bulit with caret/rclcpp
# source /path/to/your/application/install/setup.bash
