name: Build with Autoware

on:
  schedule:
    - cron: 0 17 * * * # run at 2 AM JST
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Check out repository
        uses: actions/checkout@v3.1.0

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Update Docker image
        run: docker pull osrf/ros:humble-desktop

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          context: ./docker
          file: ./docker/build_autoware.dockerfile
          push: false
          tags: caret/caret_autoware:latest
