name: Build with Autoware

on:
  schedule:
    - cron: 0 17 * * * # run at 2 AM JST
  # pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Clean up disk space
        run: |
          sudo apt-get autoremove -y
          sudo apt-get clean
          sudo rm -rf /usr/share/dotnet
          docker system prune -a -f --volumes || true

      - name: Docker Build
        run: |
          docker pull osrf/ros:humble-desktop
          docker image build --no-cache=true -t caret/caret_autoware:latest -f ./docker/build_autoware.dockerfile ./
